@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,100&display=swap');



                        /*vVARIABLES*/


:root {
    --main-bg-color: #ee8a2f;
    --second-bg-color: #fff;
    --first-text-color: #fff;
    --second-text-color:#e99c31;
    --primary-font-family: 'Roboto', Arial;
    --third-text-color: #767676;
}



                    /*RESUME SECTION*/


.aboutme__container{
    display: flex;
    align-items: center;
    width:100%;
    height: 600px;
    justify-content: center;
    position: relative;
    top: 150px;
}

.aboutme__wrapper{
    display: flex;
    align-items: center;
    width: 60%;
    height: 500px;
    flex-direction: column;
}

.aboutme__title{
    align-self: flex-start;
    margin-left:50px;
    font-size: 2.2em;
    font-family: var(--primary-font-family);
    font-weight: 400;
}

.aboutme__card{
    position: relative;
    top: 10px;
    height:350px;
    width: 80%;
    box-shadow: 0px 6px 6px #2222;
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
    bottom: 50px;
}

.aboutme__subtitle{
    font-family: var(--primary-font-family);
    font-size: 1.3em;
    font-weight: 400;
}

.aboutme__content{
    font-family: var(--primary-font-family);
    color: var(--third-text-color);
    font-size: 0.8em;
    font-weight: lighter;
}

.lenguages-hobbies-container{
    display: flex;
    width: 100%;
    height: 200px;
    font-size: 0.8em;
}

.lenguages-container{
    display: flex;
    width: 50%;
    height: 100%;
    position: relative;
    flex-direction: column;
    padding-left: 10px;
    font-family: var(--primary-font-family);
}

.lenguage-text-container{
    width: 80%;
    display: flex;
    height: 50px;
    justify-content: space-between;
}

.lenguages-title{
    font-size: 1.2em;
}

.progress-bar-container{
    width: 80%;
    height: 10px;
    border: 1px solid var(--second-text-color);
    border-radius: 10px;
    margin-bottom: 20px;
}



.inspirational-quote-wrapper{
    position:relative;
    top: 50px;
    display: flex;
    width: 40%;
    height: 550px;
    align-items: center;
    font-family: var(--primary-font-family);

}

.inspirational-quote{
    font-size: 3em;
    right: 80px;
    top: 20px;
}

.logo{
    width: 45%;
    position: absolute;
    bottom: 280px;
    right: 60px;
}


.progress-bar {
    background-color: var(--main-bg-color);
    position: relative;
    height: 8px;

}

.french-bar{
    width: 60%;
    display: flex;
}

.english-bar{
    display: flex;
    width: 80%;
}



.hobbies-container{
    flex-direction: column;
    position: relative;
    display: flex;
    width: 50%;
    height: 200px;
    font-family: var(--primary-font-family);
}

.hobbies-title{
    position: relative;
    left: 20px;
    font-weight: bold;
    font-size: 1.2em;
}

.icons-container{
    display: flex;
    position: relative;
    top: 10px;
    flex-direction: row;
    width: 100%;
    height: 120px;
    border-bottom: 2px solid #ccc;
    align-items: center;
    justify-content: space-between;
}

.icon-container{
    display: flex;
    flex-direction: column;
    height: 80px;
    width:90px;
    align-items: center;
    justify-content: center;
}

.hobbies-img{
    width: 50px;
}

.hobbies-title{
    font-size: 1.3;
}
.more-aboutme-container{
    width:100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.more-aboutme-container h6{
    color: var(--third-text-color);
    font-weight: lighter;
}

.network-icon{
    width: 10px;
    height: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.experience-container{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-justify: center;
    font-family: var(--primary-font-family);
    width: 100%;
    height: 2000px;
    top: 150px;
}


.experience-title{
    font-size: 2em;
    text-shadow: #767676;
}

.experience-subtitle{
    font-size: 1.1em;
    font-weight: 400;
}

.experience-text-container{
    width: 50%;
    
}

.certificates-card{
    width: 70%;
    position: relative;
    top: 30px;
    height:900px;
    box-shadow: 3px 6px 8px 3px #2222;
    border-radius: 20px 20px 0px 0px;
    padding-left: 25px;
    padding-right: 25px;

}

.tech-stack-card{
    width: 70%;
    position: relative;
    top: 100px;
    height:250px;
    box-shadow: 3px 6px 6px 3px #2222;
    border-radius: 0px 0px 20px 20px;
    padding-left: 25px;
    padding-right: 25px; 
}

.opinion-container{
    display: flex;
    width: 72.5%;
    position: relative;
    top: 100px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.opinion-title-container{
    width:72.5%;
    position:relative;
    top: 100px
}

.opinion-title{
    position: relative;
    font-family: var(--primary-font-family);
    font-size: 2em;
    text-align: left
    
}

.opinion-card{
    width: 27%;
    position: relative;
    height:400px;
    box-shadow: 3px 6px 6px 3px #2222;
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px; 
}



@media (max-width: 1300px){
  
}

@media (max-width: 900px){
   
    .opinion-container{
        justify-content: center;
        width: 100%;
    }


    .certificates-card{
        width: 85%;
    }

    .tech-stack-card{
        width: 85%;
    }
    .opinion-card{
        width: 35%;
    }

    .tech-stack-card{
        height: 400px;
    }

    .certificates-card{
        width: 80%;
    }

    .tech-stack-card{
        width: 80%;
    }
}


@media (max-width: 720px){
    .opinion-card{
        width: 80%;
    }

    .tech-stack-card{
        height: 400px;
    }
}